<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About Page</title></head>    
        
    <body>
        <div class='main-content'>
            {{>header}}
            <p> This site was created by Manoj Kumar. It uses data from mapbox.com and openweathermap!</p>
        <img class="portrait" src="/img/pic.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>